.box {
  width: 100%;
  padding: 5%;
}

.col {
  display: flex;
  flex-direction: row;
}

mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.bold {
  font-weight: bold;
}
