<app-header></app-header>
<div class="col">
  <app-cam-button
    class="app-cam-button"
    (foundPrescriptionEvent)="foundPrescription($event)"
  >
  </app-cam-button>
  <div class="form-container">
    <mat-form-field class="form-field">
      <mat-label>Drug name</mat-label>
      <input
        matInput
        [(ngModel)]="prescription.drugName"
        type="string"
        required
        [pattern]="textNotNullOrWhitespacePattern"
      />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="prescription.description"
        type="text"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Doctor name</mat-label>
      <input
        matInput
        [(ngModel)]="prescription.doctorName"
        type="string"
        [pattern]="textNotNullOrWhitespacePattern"
      />
    </mat-form-field>

    <div class="frequency-container">
      <mat-form-field>
        <mat-label>Frequency</mat-label>
        <input
          matInput
          type="number"
          required="true"
          min="1"
          [(ngModel)]="prescription.freq.times"
          (blur)="onBlurFreq()"
          placeholder="Frequency"
        />
      </mat-form-field>
      <span
        [style.padding-bottom.px]="20"
        [style.font-weight]="'bold'"
        [style.font-size.px]="18"
        >times a</span
      >
      <mat-form-field appearance="outline">
        <mat-label for="period">Period</mat-label>
        <mat-select
          required="true"
          [(ngModel)]="prescription.freq.period"
          name="period"
          (selectionChange)="onSelectChange()"
        >
          <mat-option *ngFor="let option of periodOptions" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    @for (schedule of prescription.schedule; track prescription.drugName){
    <app-schedule [schedule]="schedule"></app-schedule>
    }

    <div class="renewable-container">
      <mat-form-field>
        <mat-label>Number of doses</mat-label>
        <input
          matInput
          type="number"
          required="true"
          [(ngModel)]="prescription.quantity"
          placeholder="Number of doses"
        />
      </mat-form-field>
      <div class="renewable-checkbox-container">
        <span>Can be renewed?</span>
        <mat-slide-toggle [(ngModel)]="prescription.isRenewable">
        </mat-slide-toggle>
      </div>
    </div>

    <mat-form-field class="form-field">
      <mat-label>End date</mat-label>
      <input
        matInput
        [matDatepicker]="pickerEnd"
        [(ngModel)]="prescription.endDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerEnd"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <div class="button-container">
      <button mat-fab extended (click)="save()" class="save-button">
        <mat-icon>save</mat-icon>Save
      </button>
    </div>
  </div>
</div>
