<div class="first-connection-container">
  <form (ngSubmit)="createAccount()">
    <h2>Create Account</h2>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" name="email" required />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="user.displayName" name="displayName" required />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput [(ngModel)]="user.phoneNumber" name="phoneNumber" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" name="password" required />
    </mat-form-field>
  
    <mat-slide-toggle name="assistMode" (change)="toggleAssistMode()">
      Enable Assist Mode
    </mat-slide-toggle>
  
    <div *ngIf="user.assistMode">
      <h3>Please create an account for the assistant</h3>

      <mat-form-field appearance="outline">
        <mat-label>Assistant Email</mat-label>
        <input matInput [(ngModel)]="assistantInfo.email" name="assistantEmail" required />
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Assistant Name</mat-label>
        <input matInput [(ngModel)]="assistantInfo.name" name="assistantName" required />
      </mat-form-field>
  
  
      <mat-form-field appearance="outline">
        <mat-label>Assistant Phone Number</mat-label>
        <input matInput [(ngModel)]="assistantInfo.phoneNumber" name="assistantPhoneNumber" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Assistant Password</mat-label>
        <input matInput type="password" [(ngModel)]="assistantPassword" name="assistantPassword" required />
      </mat-form-field>
    </div>
  
    <button mat-raised-button color="primary" type="submit">Create Account</button>
  </form>
</div>