<app-header></app-header>
@if (!prescriptions || prescriptions.length === 0) {
<div class="container">
  <p>No prescription registered right now</p>
  <button mat-flat-button color="primary" (click)="navigateTo('form')">
    Add prescription
  </button>
</div>
} @else {
<div class="container">
  <div *ngFor="let prescription of getPrescriptions(); let i = index; trackBy: trackByDrugName">
    <app-medicine-card
    [prescription]="prescription"
    [index]="i"
    class="card"
  ></app-medicine-card>
  </div>

  <button mat-flat-button color="primary" (click)="navigateTo('form')">
    Add Medicine
  </button>
</div>
}

<app-chat></app-chat>
